<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form action="/quotes" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name"><br><br>
        <label for="quote">Quote</label><br><br>
        <textarea name="quote" id="quote" cols="30" rows="10"></textarea><br>
        <input type="submit" value="add my quote!"><br>
    </form>
    <form action="/quotespage  " method="get">
        <input type="submit" value="skip to quotes!">
    </form>
</body>
</html>